*{
    margin: 0;
    padding: 0;
}
body{
    background: url('./pic.webp');
    font-family: monospace;
}
.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: black;
    width: 80%;
    max-width: 500px;
    text-align: center;
    border-radius: 20px;
    padding: 30px;
    opacity: 0.9;
}
.main h1{
    color: white;
    margin:20px;
}
.form{
    color: white;
    margin: 10px;
    border: 1px rgb(98, 97, 97) solid;
    padding: 10px;
    border-radius: 10px;
}
.form label{
    display: flex;
    text-transform: capitalize;
    font-size: 17px;
}
.form input, .form textarea{
    width: 100%;
    background: none;
    border: none;
    outline: none;
    color: rgb(175, 175, 175);
    font-size: 15px;
}
.main button{
    font-size: 18px;
    border: 1px white solid;
    background: black;
    color: white;
    padding: 5px 20px;
    border-radius: 10px;
    transition: 0.4s;
    cursor: pointer;
}
.main button:hover{
    background-color: white;
    color: black;
}
