body{
    background: url('./pic.webp');
    color: white;
    font-family: monospace;
}
.main{
    background: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 38%;
    width: 80%; 
    max-width: 400px;
    text-align: center;
    border-radius: 20px;
    opacity: 0.8;
}
.form{
    border: 1px solid rgb(65, 63, 63);
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
}
.form label{
    display: flex;
    font-size:18px;
}
.form input{
    width: 99%;
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size:15px;
}
button{
    margin-top: 5px;
    border: 1px solid white;
    background: black;
    color: white;
    padding: 5px 16px;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 5px;
    font-size: 13px;
}
button:hover{
    background: white;
    color: black;
}
.Navigation{
    font-family: sans-serif;
    border-bottom: 1px solid rgb(207, 201, 201);
    
}
.image{
    border-radius: 500px;
    height: 80px;
}
.logo{
    display: flex;
    color: white;
}
.navbar{
    position: absolute;
    right: 0;
    top: 0;
}
.navbar > ul > li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}
.navbar > ul > li > a{
    text-decoration: none;
    color: white;
    border-bottom: 1px white solid;
    padding: 5px 10px;
    transition: 0.5s;
    border-radius: 20px;
}
.navbar > ul > li > a:hover{
    background-color: white;
    color: black;
}
