body{
    background-image: url("../pic.webp");
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: monospace;
}
.Navigation{
    font-family: sans-serif;
    border-bottom: 1px solid rgb(207, 201, 201);
    
}
.image{
    border-radius: 500px;
    height: 80px;
}
.logo{
    display: flex;
    color: white;
}
.navbar{
    position: absolute;
    right: 0;
    top: 0;
}
.navbar > ul > li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}
.navbar > ul > li > a{
    text-decoration: none;
    color: white;
    border-bottom: 1px white solid;
    padding: 5px 10px;
    transition: 0.5s;
    border-radius: 20px;
}
.navbar > ul > li > a:hover{
    background-color: white;
    color: black;
}